.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 1em;
}
.checkoutProduct_info {
  padding-left: 20px;
  text-align: left;
}
.checkoutProduct_info > button {
  background: #ffd814;
  border: 1px solid;
  margin-top: 10px;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.checkoutProduct_info > button:hover {
  background: #ffd814a8;
  cursor: pointer;
}
.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
